name: 'test eslam'
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: [self-hosted]

    steps:
    - uses: 'actions/checkout@v1'

    - name: 'Test2'
      run: 'kubectl version'
